language: java
install: true
sudo: required

addons:
  apt:
    packages:
    - docker-ce

services:
  - docker

before_install:
  - docker run -d -p 5000:5000 --restart=always --name registry registry:2

jdk: openjdk8

jobs:
  include:
    - stage: Compilation
      script: ./gradlew classes
    - stage: Unit Tests
      script: ./gradlew test
    - stage: Integration Tests
      script: ./gradlew integrationTest
    - stage: Functional Tests
      script: ./gradlew functionalTest
    - stage: release
      script: skip
      deploy:
        provider: script
        script: ./gradlew -s assemble bintrayUpload gitPublishPush -Dorg.ajoberstar.grgit.auth.username=$GH_TOKEN
        on:
          tags: true

before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/

cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
